.light {
  background: linear-gradient(135deg, #f6d365, #fda085);
  color: black;
  min-height: 100vh;
}

.dark {
  background: linear-gradient(135deg, #141e30, #243b55);
  color: white;
  min-height: 100vh;
}